#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.w-select-cursor {
  -moz-box-shadow:    inset 0 0 10px #FF0000;
  -webkit-box-shadow: inset 0 0 10px #FF0000;
  box-shadow:         inset 0 0 10px #FF0000;
}

.b-select-cursor {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

.select-piece {
  -moz-box-shadow:    inset 0 0 10px #008000;
  -webkit-box-shadow: inset 0 0 10px #008000;
  box-shadow:         inset 0 0 10px #008000;
}
