<div class="kui-flex-wrap">
  <style>
  .kui-row-center-column {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
  }
  </style>
  <ul class="kui-list kai-container">
    {{#challenges}}
    <li class="challengeRequestNav kui-divider" @click='selected()'>
      <div class="kui-row-center kui-row-center-column">
        <div class="kui-row-center">
          <h5 style="font-weight:bold;white-space:pre-wrap!important;word-break:break-word!important;">#{{ id }}</h5>
          <small>Rated: {{ #rated }}Yes{{ /rated }}{{^rated}}No{{ /rated }}</small>
        </div>
        <div class="kui-row-center">
          <small>{{ color }}</small>
          <small>{{ variant.name }}</small>
          <small>
            {{ #timeControl.show }}
              {{ timeControl.show }}
            {{ /timeControl.show }}
            {{ ^timeControl.show }}
              {{ timeControl.type }}
            {{ /timeControl.show }}
          </small>
        </div>
        <div class="kui-row-center">
          <small style="font-weight:bold;{{ #challenger.online }}color:green;{{ /challenger.online }}{{ ^challenger.online }}color:red;{{ /challenger.online }}">{{ challenger.name }}</small>
          <small>{{ perf.name }}</small>
        </div>
      </div>
    </li>
    {{/challenges}}
  </ul>
</div>
