<div class="kui-flex-wrap">
  <style>.kui-software-key{height:0px}#__kai_router__{height:266px!important;}.kui-router-m-bottom{margin-bottom:0px!important;}</style>
  <div class="kai-container" style="margin:2px;">
    <h5 style="margin-bottom:4px;"># DISCLAIMER: This is not LICHESS.ORG official app for KAIOS. However, LICHESS.ORG provide API services for 3rd party app</h5>
    <h5 style="margin-bottom:4px;"># Supported Time controls(above 8 minutes)</h5>
    <ul style="padding: 2px 0 2px 20px;font-size:14px;margin-bottom:6px;">
      <li style="margin-right:0px;">Rapid</li>
      <li style="margin-right:0px;">Classical</li>
      <li style="margin-right:0px;">Correspondence</li>
    </ul>
    <h5 style="font-weight:bold;margin-bottom:4px;">#Available features:</h5>
    <div style="width:220px;">
      <ul style="padding: 2px 0 2px 20px;font-size:14px;">
        <li style="margin-right:0px;">Ongoing Games(list all games in play)<br><br></li>
        <li>Challenge Requests(list all challenge invitation)<br><br></li>
        <li style="margin-right:0px;">Local Game(play local game)<br><br></li>
        <li>
          <span>Matchmaking(start a game with a random player):</span><br>
          - <b>Rated</b>: Whether the game is rated and impacts players ratings<br>
          - <b>Minutes per side(required)</b>: Clock initial time in minutes, [ 0 .. 180 ]<br>
          - <b>Increment(required)</b>: Clock increment in seconds, [ 0 .. 180 ]<br>
          - <b>Rating Range</b>: The rating range of potential opponents. Better left empty. Example: 1500-1800<br><br>
        </li>
        <li style="display:none;visibility:hidden;height:0;width:0;">
          <span>Challenge Human(challenge someone to play):</span><br>
          - <b>Rated</b>: Whether the game is rated and impacts players ratings<br>
          - <b>Minutes per side(required)</b>: Clock initial time in minutes, [ 0 .. 180 ]<br>
          - <b>Increment(required)</b>: Clock increment in seconds, [ 0 .. 180 ]<br>
          - <b>Days per turn</b>: Days per move, for correspondence games. <b>Minutes per side</b> & <b>Increment</b> settings must be omitted.<br><br>
        </li>
        <li style="margin-right:0px;">
          Challenge Computer(start a game with Lichess AI):<br>
          - <b>Level</b>: AI strength<br>
          - <b>Minutes per side(required)</b>: Clock initial time in minutes, [ 0 .. 180 ]<br>
          - <b>Increment(required)</b>: Clock increment in seconds, [ 0 .. 180 ]<br>
          - <b>Days per turn</b>: Days per move, for correspondence games. <b>Minutes per side</b> & <b>Increment</b> settings must be omitted.<br><br>
        </li>
        <li style="margin-right:0px;">
          Load PGN(load .pgn from default storage):<br>
          - PGN file must contain only single match data<br>
          - <b>Arrow Left</b>: undo move<br>
          - <b>Arrow Right</b>: next move<br>
          - <b>Arrow Up</b>: Final game position<br>
          - <b>Arrow Down</b>: Reset to initial game position<br><br>
        </li>
      </ul>
    </div>
  </div>
</div>
