<div class="kui-flex-wrap">
  <div class="kai-container" style="margin:2px;">
    <h5>Notice:</h5>
  </div>
  <div style="width:220px;">
    <ul style="padding: 2px 0 2px 20px;font-size:14px;">
      <li style="margin-right:0px;"><b>Challenge Human</b> is possibble but disabled due to technical issues.</li>
      <li style="margin-top:4px;margin-right:0px;">PGN file must contain only single match data</li>
      <li style="margin-top:4px;margin-right:0px;">If your disconnect during the match, please go to <b>Ongoing Games</b> & press refresh. Then <b>SELECT</b> the game you want to resume</li>
      <li style="margin-top:4px;margin-right:0px;">I will add more lichess.org API on next update</li>
    </ul>
  </div>
</div>
