<span>
  <style>
  .full-screen-browser {
    height: 296px!important;
    margin: 0px 0px;
  }
  @media only screen and (orientation : portrait) {
    #login-container {
      width: 240px;
    }
  }
  @media screen and (orientation: landscape) {
    #login-container {
      width: 320px;
    }
  }
  .kui-header {
    height:0px;
    margin-bottom: 0px;
  }.
  .kui-router-m-top-0 {
    margin-top: 0!important;
  }
  </style>
  <div id="login-container" class="kui-flex-wrap" style="height:296px;"></div>
</span>
