<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="newLocalGameNav" @click="setWhitePlayer()">
      <div class="kui-row-center">
        <span>White</span>
        <span>{{ p1 }}</span>
      </div>
    </li>
    <li class="newLocalGameNav" @click="setBlackPlayer()">
      <div class="kui-row-center">
        <span>Black</span>
        <span>{{ p2 }}</span>
      </div>
    </li>
    <li class="newLocalGameNav" @click="setPOV()">
      <div class="kui-row-center">
        <span>POV</span>
        <span>{{ pov }}</span>
      </div>
    </li>
  </ul>
</div>
