<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="newOfflineGameNav" @click="setWhitePlayer()" style="border-bottom:1px dashed #320374;">
      <div class="kui-row-center">
        <span>White</span>
        <span>{{ p1 }}</span>
      </div>
    </li>
    <li class="newOfflineGameNav" @click="setBlackPlayer()" style="border-bottom:1px dashed #320374;">
      <div class="kui-row-center">
        <span>Black</span>
        <span>{{ p2 }}</span>
      </div>
    </li>
    <li class="newOfflineGameNav" @click="setPOV()" style="border-bottom:1px dashed #320374;">
      <div class="kui-row-center">
        <span>POV</span>
        <span>{{ pov }}</span>
      </div>
    </li>
  </ul>
</div>
