<div class="kui-flex-wrap">
  <ul class="kui-list kai-container">
    <li class="vsComputerNav" @click="setLevel()">
      <div class="kui-row-center">
        <span>Level</span>
        <span style="color:#000;padding:5px;background-color:#fff;border-radius:2px;">{{ level }}</span>
      </div>
    </li>
    <li class="vsComputerNav" @click="setColor()" style="border-top:1px dashed #320374;">
      <div class="kui-row-center">
        <span>Color</span>
        <span style="color:#000;padding:5px;background-color:#fff;border-radius:2px;">{{ color }}</span>
      </div>
    </li>
    <li class="vsComputerNav" @click="setVariant()" style="border-top:1px dashed #320374;">
      <div class="kui-row-center">
        <span>Variant</span>
        <span style="color:#000;padding:5px;background-color:#fff;border-radius:2px;">{{ variant }}</span>
      </div>
    </li>
    <li class="vsComputerNav" style="border-top:1px dashed #320374;font-size:12px;white-space:pre-wrap!important;word-break:break-word!important;">Clock initial time in seconds. If empty, a correspondence game is created.</li>
    <li style="border-top:1px dashed #320374;">
      <input id="clock.limit" class="vsComputerNav kui-input" type="number" style="margin:2%;width:96%;" placeholder="Clock Limit(0 - 10800s)" value="{{ clock.limit }}"/>
    </li>
    <li class="vsComputerNav" style="border-top:1px dashed #320374;font-size:12px;white-space:pre-wrap!important;word-break:break-word!important;">Clock increment in seconds. If empty, a correspondence game is created.</li>
    <li style="border-top:1px dashed #320374;">
      <input id="clock.increment" class="vsComputerNav kui-input" type="number" style="margin:2%;width:96%;" placeholder="Clock Increment(0 - 60s)" value="{{ clock.increment }}"/>
    </li>
    <li class="vsComputerNav" style="border-top:1px dashed #320374;font-size:12px;white-space:pre-wrap!important;word-break:break-word!important;">Days per move, for correspondence games. Clock settings must be omitted.</li>
    <li style="border-top:1px dashed #320374;">
      <input id="days" class="vsComputerNav kui-input" type="number" style="margin:2%;width:96%;" placeholder="Days(1 - 15)" value="{{ days }}"/>
    </li>
    <li class="vsComputerNav" style="border-top:1px dashed #320374;" @click="submit()">
      <div class="kui-row-center" style="justify-content:space-around;">
        <h4>SUBMIT</h4>
      </div>
    </li>
  </ul>
</div>
